div.container {
    margin-top: 20px;
}

div.ad-title h1, div.ad-title p {
    color: yellow;
    text-shadow: 3px 3px 3px rgba(250,250,250,0.5);
}

div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(250,250,250,0.5);
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;    
}

.avatar-mini {
    max-width: 24px;
    max-height: 24px;
}